<!--The content below is only a placeholder and can be replaced.-->
<div class="loginContainer">
  <div class="loginWindow">
    <h3>Please login first</h3>
    <div>
      <input placeholder="Username" class="inputBox">
    </div>
    <div>
      <input placeholder="Password" type="password" class="inputBox">
    </div>
    <div>
      <button class="button" >Login</button>
    </div>
    <div class="textBelow">
      <span>Not Registered?</span> <a href="/">Create an account!</a>
    </div>
  </div>
</div>

